name: Lint

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  SwiftFormat:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: jdx/mise-action@v2
      - name: Run SwiftFormat
        run: swiftformat . --verbose --lint --reporter github-actions-log
