name: Build and Test

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  build-and-test:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build project
        run: |
          xcodebuild -quiet -project ProvisionQL.xcodeproj -scheme ProvisionQL CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO

      - name: Run tests
        run: |
          cd ProvisionQLCore
          swift test
